/*
 Differentiate between paved and unknown surfaces.
 Works when --class-fields surface is given
*/
.surface_None {
    stroke: gray;
}
.surface_paved {
    stroke: blue;
}

/*
 Draw parks in green when --class-fields park is given
*/
.leisure_park {
	fill: green;
	stroke: none;
}
